@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #0e0e0e;
  font-size: 14px;
}

body,
header,
main,
section {
  width: 100%;
}

main {
  display: grid;
  grid-auto-rows: minmax(150px, auto);
  grid-template-columns: repeat(auto-fit, minmax(320px, 768px));
  justify-content: center;
  min-height: calc(100vh - (64px + 64px));
}

section {
  padding: 3rem 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

nav,
footer {
  border: 2px solid #2121c8;
  padding: 1rem;
}

footer .github-dev-account {
  color: #0e0e0e;
  font-weight: 700;
}

#logo-webpage {
  font-size: 1.5em;
  font-weight: 700;
  color: #0e0e0e;
}

#nav-section {
  display: flex;
  gap: 0.5rem;
}

.nav-sections:not(:first-child) {
  padding-left: 10px;
  border-left: 1px solid black;
}

.nav-link {
  color: #1a1919;
}

.nav-link:hover {
  color: #2121c8;
}

#date-container {
  width: 100%;
  text-align: right;
  padding: 0.3rem 1rem;
}

.hide {
  display: none;
}

.change-color {
  color: #2121c8;
}

.section-title {
  font-size: 3em;
  text-align: center;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  padding: 2.5rem 0;
  color: #3b3bd6;
}


#books-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.book {
  padding: 0.7rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-out;
  background-color: #fff;
}

.book:nth-child(even) {
  background-color: #ebebf9;
}

.book:hover {
  background-color: #dbdbf0;
}

.book .book-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.book button {
  padding: 0.5rem 1rem;
  background-color: #a40606;
  border: 2px solid #a40606;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.book button:hover {
  background-color: #fff;
  color: #a40606;
}

.book button:active {
  background-color: #430404;
  border-color: #430404;
  color: #fff;
}


#form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-book {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0 0.1rem;
}

#form-book input {
  width: 100%;
  padding: 0.6rem;
  outline: #1a1919;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
}

#form-book button {
  padding: 0.5rem 1.3rem;
  border: none;
  background-color: #3b3bd6;
  color: #fff;
  font-size: 1.2em;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

#form-book button:hover {
  background-color: #fff;
  color: #3b3bd6;
  border: 2px solid #3b3bd6;
}

#form-book button:active {
  background-color: #2121c8;
  color: #fff;
  border: none;
}

#form-book button:disabled {
  background-color: #d9d9dd;
  color: #bcbbbb;
  border: none;
}

#contact h2,
h3 {
  color: #3b3bd6;
}

#contact h2 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 5%;
}

#contact-list {
  list-style: disc;
  margin-left: 7%;
  margin-top: 4%;
}