@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #0e0e0e;
  font-size: 14px;
}

body,
header,
main,
section {
  width: 100%;
}

main {
  display: grid;
  grid-auto-rows: minmax(150px, auto);
  grid-template-columns: repeat(auto-fit, minmax(320px, 768px));
  justify-content: center;
  min-height: calc(100vh - (64px + 64px));
}

section {
  padding: 3rem 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

nav,
footer {
  border: 2px solid #2121c8;
  padding: 1rem;
}

footer .github-dev-account {
  color: #0e0e0e;
  font-weight: 700;
}